body{
    background-color: #237AA9;
}

.box{
  position: relative;
  width: 60%;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: -.2em auto;
}

nav{
  background-color: #DDDDDD;
  /*color: white;*/
  position: fixed;
  right: 10%;
  top: 0;
  padding: 0 1em 0.25em 1em;
  -moz-box-shadow: 3px 4px 7px 1px #000;
  -webkit-box-shadow: 3px 4px 7px 1px #000;
  box-shadow: 3px 4px 7px 1px #000;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display:none;
}

nav a{
  text-decoration: none;
  color: #237AA9;
  font-weight: bolder;
}

.box:before, .box:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.box:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

header a{
  color: white;
  text-decoration: none;
}

header{
  top: .9em;
  position: relative;
  display: block;
  width: 60%;
  color: white;
  margin: 1em auto -.3em auto;
  font-family: 'Sonsie One', cursive;
  z-index: 100;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.74);
}

h2{
  text-align: center;
}

.title_logo{
  /*font-size: 2.5em;*/
  font-size: 3vw;
  width: 55%;
}

#signup{
  text-align: right;
  margin-right: 25%;
}

#login{
  text-align: right;
  margin-right: 25%;
}

.login_links{
  position: relative;
  top: .6em;
  display: inline-block;
  float: right;
  /*font-size: 1.2em;*/
  font-size: 1.3vw;
}

#status{
  margin-top: 1.5em;
  color: green;
}

.chat_window{
  display: block;
  margin: auto;
  height: 70vh;
  width: 90%;
  overflow-y: auto;
  background-color: white;
  -moz-box-shadow: inset 0 0 9px -3px #000;
  -webkit-box-shadow: inset 0 0 9px -3px #000;
  box-shadow: inset 0 0 9px -3px #000;
}

.chat_input{
  display: block;
  width: 90%;
  margin: auto;
}

textarea{
  width: 80%;
}

.button.blue {
  border-color: #0076a3;
  background: #49b3fc;
  background: -moz-linear-gradient(top, #76c7ff 0%, #237AA9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76c7ff), color-stop(100%,#237AA9));
  background: -webkit-linear-gradient(top, #76c7ff 0%,#237AA9 100%);
  background: -o-linear-gradient(top, #76c7ff 0%,#237AA9 100%);
  background: -ms-linear-gradient(top, #76c7ff 0%,#237AA9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c7ff', endColorstr='#237AA9',GradientType=0 );
  background: linear-gradient(top, #76c7ff 0%,#237AA9 100%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}
.button.blue:hover { background: #76c7ff; }
.button.red:hover { background: #fb4e55; }

.button {
 border: 1px solid #AAAAAA;
 border-radius: 5px 5px 5px 5px;
 box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
 display: inline-block;
 font: 100% Arial,Helvetica,sans-serif;
 vertical-align: middle;
}
